@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* automatically inherit box-sizing from the body element */
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // Dark theme
  --theme-1: hsl(230, 17%, 14%);
  --theme-2: hsl(232, 19%, 15%);

  --card: hsl(228, 28%, 20%);
  --card-hover: hsl(232, 27%, 28%);

  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(0, 0%, 100%);

  // Arrows
  --arrow-up: hsl(163, 72%, 41%);
  --arrow-down: hsl(356, 69%, 56%);

  // Toggle
  --toggle: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);

  // Social Media
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --Facebook: hsl(195, 100%, 50%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(90deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
  --YouTube: hsl(348, 97%, 39%);
}

html[data-theme="light"] {
  // Light Theme
  --theme-1: hsl(0, 0%, 100%);
  --theme-2: hsl(225, 100%, 98%);

  --card: hsl(227, 47%, 96%);
  --card-hover: hsl(233, 14%, 89%);

  --text-1: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);

  // Arrows
  --arrow-up: hsl(163, 72%, 41%);
  --arrow-down: hsl(356, 69%, 56%);

  // Toggle
  // --toggle: hsl(230, 22%, 74%);
  --toggle: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--theme-1);
  color: var(--text-2);
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 1110px;
  width: auto;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.background-overlay {
  width: 100%;
  height: 31rem;
  position: absolute;
  z-index: -999;
  background-color: var(--theme-2);
  left: 0;
  right: 0;
  top: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
}

.header--text {
  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-2);
  }
  p {
    color: var(--text-1);
  }
}

// TOGGLE
.light-mode-toggle {
  display: flex;
  h4 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 1rem;
    color: var(--text-1);
  }
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--toggle);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--theme-1);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: (--toggle);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

// SOCIALS
.card--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  position: relative;

  &:hover {
    background-color: var(--theme-1);
  }
}

.card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: var(--card);
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: hsl(210, 78%, 56%);
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding-right: 1rem;
    }

    p {
      color: var(--text-1);
    }
  }

  h3 {
    font-size: 5rem;
    letter-spacing: 1px;
  }

  .fans {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: var(--text-1);
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: -1rem;
      padding-bottom: 2rem;
    }
  }

  .view-count {
    display: flex;
    align-items: center;
    justify-items: center;
    img {
      padding-right: 0.5rem;
    }
  }
}

.card:hover,
.card__overview:hover {
  background-color: var(--card-hover);
  z-index: 1;
}

.card--blue::before {
  background: var(--Twitter);
}

.card--colorful::before {
  background: hsl(37, 97%, 70%);
  background: var(--Instagram);
}

.card--red::before {
  background: var(--YouTube);
}

// Card Bottom
.card__bottom {
  h3 {
    font-size: 2rem;
    color: var(--text-2);
    margin: 3rem 0 1.5rem 0;
  }
}

.card__overview {
  padding: 0.5rem 1rem;
  background-color: var(--card);
  border-radius: 0.5rem;
  cursor: pointer;

  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
.arrow-green {
  color: var(--lime-green);
}
.arrow-red {
  color: var(--bright-red);
}

.details p {
  color: var(--text-1);
}

.overview-count {
  p {
    font-size: 3rem;
    font-weight: 700;
  }

  span {
    display: flex;
    align-items: center;
    justify-items: center;
    img {
      padding-right: 0.5rem;
    }
  }
}

// Footer
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Media Queries
@media (max-width: 960px) {
  .container {
    padding: 3rem;
  }
  .header__inner {
    flex-direction: column;
  }

  .header--text {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--text-1);
  }

  .light-mode-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      padding-right: 14rem;
    }
  }

  .card h3 {
    font-size: 4rem;
  }

  .card__bottom {
    h3 {
      font-size: 2rem;
      color: var(--text-2);
      margin: 0 0 1.5rem 0;
    }
  }

  .card--grid {
    grid-template-columns: 1fr;
  }
}
